.background {
    background-color: #f1f5f8;
    border-top-left-radius: 16px;
    padding: 10px;
    margin-top: 10px;
    min-height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foreground {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 20px 40px;
    max-width: 90%;
    min-height: 100vh;
}

.image {
    margin: 100px 10px;
}

.title {
    margin: 0px 10px 10px 10px;
}