.background {
    background-color: #f1f5f8;
    border-top-left-radius: 16px;
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
    min-height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foreground {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    min-height: 100vh;
}

.image {
    margin: 100px 10px;
}

.headerBox {
    margin: 0px 10px 10px 10px;
}

.recipeListHeader {
    margin: 15px 5px 10px 5px;
}

.button {
    background-color: #d7f4fe;
    color: black;
    padding: 0px 10px;
    font-weight: 400;
    border-radius: var(--mantine-radius-md);
}

.icons {
    margin-right: 5px;
    font-size: 1.5em;
}