.background {
    background-color: #f1f5f8;
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
    min-height: 90vh;
}

.safeButton {
    background-color: #d7f4fe;
    color: black;
    border-radius: 25px;
}