.flexColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.outlet {
    padding: 0px;
    margin: 0px;
    height: 100vh
}